<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-striped tabs-top">

  <!-- Dashboard Tab -->
  <ion-tab title="我玩过的"  href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="热门"  href="#/tab/hotGame">
    <ion-nav-view name="tab-hotGame"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="推荐"  href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <ion-tab title="最新"  href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
